<section id="footer" class="overflow-auto">
    <div class="container row mx-auto my-5 text-white text-center  gx-md-3 gy-0 gy-md-3">
        <div class="col-12 col-sm-8  col-md-4 py-5">
            <h3 class="fs-2 fw-semibold">LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
        <div class="col-12 col-sm-8 col-md-4 py-5">
            <h3 class="fs-2 fw-semibold">AROUND THE WEB</h3>
            <div class="d-flex flex-wrap justify-content-center">
                <i class="fa-brands fa-facebook border fs-5 p-2 rounded-circle m-2"></i>
                <i class="fa-brands fa-twitter border fs-5 p-2 rounded-circle m-2"></i>
                <i class="fa-brands fa-linkedin-in border fs-5 p-2 rounded-circle m-2"></i>
                <i class="fa-solid fa-globe border fs-5 p-2 rounded-circle m-2"></i>
            </div>
        </div>
        <div class="col-12 col-sm-8 col-md-4 py-5">
            <h3 class="fs-2 fw-semibold">ABOUT FREELANCER
            </h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Ahmed Abdelaleem</p>
        </div>
    </div>
</section>
<footer class="text-white text-center overflow-auto">
    <div class="container mx-auto my-2 py-2">
        <p>Copyright &copy; Your Website 2024</p>
    </div>
</footer>