<section id="about" class=" overflow-auto">
  <div class="container text-center text-white mt-5 pt-5">
    <h2 class="fs-1 fw-bold mt-5">ABOUT COMPONENT</h2>
    <div class="icon d-inline-block">
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="row justify-content-center text-start gx-5 mt-3 mb-5">
      <p class="col-8 col-md-5">Freelancer is a free bootstrap theme created by Route. The download includes the
        complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
        customization.</p>
      <p class="col-8 col-md-5">
        Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
        including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
      </p>
    </div>
  </div>
</section>
