<section id="contact" class="overflow-auto">
  <div class="container text-center mt-5 mx-auto pt-5">
    <h2 class="fs-1 fw-bold mt-5">CONTACT SECTION</h2>
    <div class="icon d-inline-block mb-5">
      <i class="fa-solid fa-star"></i>
    </div>
    <form action="#" class="my-5 w-50 mx-auto text-start">
      <input type="text" placeholder="User Name" class="pb-3 border-0 border-bottom w-100 mb-5">
      <input type="text" placeholder="User Age" class="pb-3 border-0 border-bottom w-100 mb-5">
      <input type="text" placeholder="User Email" class="pb-3 border-0 border-bottom w-100 mb-5">
      <input type="text" placeholder="User Password" class="pb-3 border-0 border-bottom w-100 mb-5">
      <button type="button" class="btn active-comp">Send Message</button>
    </form>
  </div>

</section>
